{% extends 'base.html.twig' %}

{% block title %}<h1>Edition immobilière!</h1>{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Salut Bienvenu à CloudAfrica!  ✅</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button> valider</button>
    {{ form_end(form) }}
</div>
{% endblock %}
