{% extends 'base.html.twig' %}

{% block title %}Hello MobilierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Affichage des immobiliers disponible</h3>
             <table class="table" border=1px>
                    <thead>
		                   <tr>
		                   		<th>Titre</th>
		                   		<th>Options</th>
		                   	</tr> 
                    </thead>
                    <tbody>


					    {% for m in mobilier %}
					    	<tr>
								<td>	{{ m.titre}} </td>
								<td> <a  href="{{path('mobilier.creer.admin', {id: m.id})}}" class = "btn btn-secondary">Modifier</a>
									<form method="post"	action="{{path('mobilier.delete', {id: m.id})}}" style="display: inline-block" onsubmit="return confirm('êtes vous vraiment sûr de vouloir supprimer le bien ?')">
									<input type="hidden" name="method" value="DELETE">		
									<button class="btn btn-danger">Supprimer</button>
									</form>

								</td>
							</tr>
						{% endfor  %}
					</tbody>
			</table>
    
</div>

<div class="text-right">
	<a  href="{{path('mobilier.creer')}}" class = "btn btn-secondary">Ajouter un nouveau Bien</a>
</div>

{% endblock %}

